@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg1{
  background-color: #E4B6B1;
}

.bg2{
  background-color: #FEADAC;
}

.bg3{
  background-color: #E7A481;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
